<div class="float-child  grid-container" style="padding-left:25px;">
    <div class="grid-item">
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
    <div class="grid-item">
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
    <div class="grid-item">
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
   <div class="grid-item">
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
    <div class="grid-item" >
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
    <div class="grid-item">
     <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
       <div style="text-align: center;">
        <h2>10</h2>
        <h3 style="color:blue">QTY</h3>
        <h4 style="color:blue ;">TO BE DELIVERED</h4>
       </div>
    </p-card>
    </div>
  
 </div>
 <div style="width: 1250px; height: 400px; padding-left: 50px;">
   <canvas id="myChart"></canvas>
</div>
<div style="width: 1250px; height: 400px; padding-left: 100px;">

    <canvas id="myChart"></canvas>
</div>