label {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

.float-container {
  border: 3px solid #fff;
 margin: 0%;

}


.float-child {
  width: 50%;
  float: left;
  padding: 10px;

}  
h3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}