<h2 style="font-weight: bolder; padding-left: 20px; padding-bottom: 5px; padding-top: 5px;">New Item</h2>
<form [formGroup]="form">
  <div class="row">
    <div >
      <div class="row">
        <div class="float-container">
          <div class="float-child">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label>Name</label>
                <mat-form-field appearance="outline">
                  <input  matInput
                  placeholder="Name"
                  formControlName="first_name"
                  autocomplete="username"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.first_name">{{
                    displayMessage.first_name
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-field p-col">
                <label>Email</label>
                <mat-form-field appearance="outline">
                  <input  matInput
                  placeholder="Name"
                  formControlName="email"
                  autocomplete="username"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.email">{{
                    displayMessage.email
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-field p-col">
                <label>Work Phone Number</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder"
                   formControlName = "work_phone_no"
                   (blur)='onBlur()'>
                   <mat-error *ngIf="displayMessage.work_phone_no">{{
                     displayMessage.work_phone_no
                   }}</mat-error>
                 </mat-form-field>
              </div>
              <div class="p-field p-col">
                <label>Mobile Phone Number</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder"
                  formControlName = "mobile_phone_no"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.mobile_phone_no">{{
                    displayMessage.mobile_phone_no
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div> 
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label>Company Name</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder"
                  formControlName = "company_Name"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.company_Name">{{
                    displayMessage.company_Name
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-field p-col">
                <label>Country</label>
                <mat-form-field appearance="outline">
                  <input  matInput
                  placeholder="Country"
                  formControlName="country"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.country">{{
                    displayMessage.country
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-field p-col">
                <label>State</label>
                <mat-form-field appearance="outline">
                  <input  matInput
                  placeholder="Name"
                  formControlName="state"
                  (blur)='onBlur()'>
                  <mat-error *ngIf="displayMessage.state">{{
                    displayMessage.state
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-row" >
    <button
      pButton
      style="align-items: center;"
      type="submit"
      icon="pi pi-save"
      label="Save"
      (click)="onSubmit()"
    ></button>
    &nbsp;
    <button
      pButton
      class="ui-button-danger"
      type="button"
      icon="pi pi-times-circle"
      label="Cancel"
      (onClick)="onCancel()"
    ></button>
  </div>
</form>