<div class="header" style="background-color:#fdf4e8">
  <button pButton type="button" icon="pi pi-th-large" (click)="onToggle()" label="" class="p-button-info"
    style="background-color:#212529;;"></button>
  <span class="title">{{ title }}</span>
  <span class="spacer"></span>
  <div class="p-toolbar-group-right">
    <p-button type="text" (click)="onLogout()" icon="pi pi-times-circle" label="Logout"></p-button>
  </div>
  
  <!-- <p-sidebar [(visible)]="visibleSidebar2"  position="right" [baseZIndex]="10000" style="background-color: black;">
    <h3>Setting</h3>
    <button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text"></button>
    <button pButton pRipple type="button" label="Success" class="p-button-success p-button-text"></button>
    <button pButton pRipple type="button" label="Info" class="p-button-info p-button-text"></button>
</p-sidebar> -->



</div>